#jqt ul li input[type='submit'] {
    box-sizing: content-box;
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 20px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    -webkit-tap-highlight-color: transparent;
}

#jqt ul li input[type='submit']:active {
    background: #3366cc;
    -webkit-box-shadow: #4372d0 0 1px 0px inset;
    padding: 10px;
    margin: -10px;
    box-shadow: #4372d0 0 1px 0px inset;
    color: white;
    text-shadow: #2952a3 0 -1px 0;
}

#jqt ul.rounded li.fullfill {
    padding: 0;
    overflow: visible;
}

#jqt ul.rounded li.fullfill input {
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 0;
}

#jqt ul.rounded li.fullfill:first-child input {
    border-radius: 6px 6px 0 0;
}

#jqt ul li:last-child input[type='submit'] {
    border-radius: 0 0 6px 6px;
}

#jqt ul li input.ng-dirty.ng-invalid {
    box-shadow: 0 0 6px #D31F1C;
}

#jqt form.singleForm {
    overflow: hidden;
}