<section>
    <header>
        <a class="left arrow" href="#/">Главная</a>
        <h1>You owe</h1>
    </header>
    <div class="scrollMask"></div>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                <form name="AddDebtForm" ng-submit="addDebt()">
                    <ul>
                        <li ng-hide="newDebt.destUserId == 'addNew'">
                            <select ng-model="newDebt.destUserId" ng-options="userId as user.shortTitle group by user.group for (userId, user) in getUsersList()">
                                <option value="">Выберите человека</option>
                            </select>
                        </li>
                        <li ng-show="newDebt.destUserId == 'addNew'">
                            <input ng-model="newDebt.email" type="email" placeholder="E-mail" value="">
                        </li>
                        <li><input ng-model="newDebt.sum" required type="number" value="" placeholder="Сумма, {{ settings.currency }}"></li>
                        <li><input ng-model="newDebt.description" type="text" value="" placeholder="Описание"></li>
                        <li><input type="submit" value="Дать денег"/></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>