<section>
    <header>
        <h1>Профиль</h1>
    </header>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                <form name="profileForm" ng-submit="updateProfile()">
                    <ul>
                        <li>
                            <input ng-model="user.nickname" required type="text" placeholder="Nickname">
                        </li>
                        <li>
                            <input ng-model="user.email" required type="email" placeholder="E-mail" value="{{ user.email }}">
                        </li>
                        <li>
                            <input ng-model="user.hipchatMentionName" type="text" placeholder="Hipchat mention name" value="{{ user.hipchatMentionName }}">
                        </li>
                        <li>
                            <input ng-model="user.password" required type="password" value="" placeholder="Пароль">
                        </li>
                        <li>
                            <input type="submit" ng-disabled="!user.id" value="Сохранить профиль"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>