<section>
    <header>
        <a class="left arrow" href="#/">Главная</a>
        <h1>{{users.list[userId].shortTitle}}</h1>
    </header>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                    <form name="remindForm" ng-submit="remind()" ng-show="displayReminderButton()">
                    <h2></h2>
                    <ul>
                        <li>
                            <input type="submit" value="Напомнить"/>
                        </li>
                    </ul>
                </form>
                <h2>История <div class="spinner" ng-show="user.loginState || historyObject.loadingState"></div></h2>
                <ul>
                    <li ng-repeat="debt in history">
                        <div class="innerLi" ng-class="debt.direction">
                            <span ng-show="debt.description" class="big black">{{ debt.description }}</span>
                            <span class="light">{{ debt.sum }}{{ settings.currency }}</span>
                            <span class="normal">{{ debt.date | date:'dd.MM.yyyy HH:mm' }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>