<section>
    <header>
        <button class="left" ng-show="user.loggedIn" ng-click="user.logout()">Выйти</button>
        <h1>You owe</h1>
        <a class="right bold" href="#/add">Добавить</a>
    </header>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                <h2>Вам должны</h2>
                <ul class="arrowed">
                    <li ng-show="user.emptyOweYou()">Вам никто не должен</li>
                    <li ng-repeat="(userId, sum) in user.oweYou">
                        <a class="innerLi" href="#/history/{{userId}}">
                            <span class="big">{{ users.list[userId].email }}</span>
                            <span class="light">{{ sum }}{{ settings.currency }}</span>
                        </a>
                    </li>
                </ul>
                <h2>Вы задолжали</h2>
                <ul class="arrowed">
                    <li ng-show="user.emptyYouOwe()">Вы перед всеми чисты</li>
                    <li ng-repeat="(userId, sum) in user.youOwe">
                        <a class="innerLi" href="#/history/{{userId}}">
                            <span class="big">{{ users.list[userId].email }}</span>
                            <span class="light">{{ sum }}{{ settings.currency }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>