<section>
    <header>
        <a class="left" ng-show="user.loggedIn" href="#/profile">Профиль</a> <div class="spinner" ng-show="user.loginState"></div>
        <h1>You owe</h1>
        <a class="right bold" href="#/add">Дать денег</a>
    </header>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                <h2>Вам должны <div class="spinner" ng-show="user.loadingState || users.loadingState"></div></h2>
                <ul class="arrowed">
                    <li ng-show="user.emptyOweYou()">Никто</li>
                    <li ng-repeat="(userId, sum) in user.oweYou">
                        <a class="innerLi" href="#/history/{{userId}}">
                            <span class="big">{{ users.list[userId].title }}</span>
                            <span class="light">{{ sum }}{{ settings.currency }}</span>
                        </a>
                    </li>
                </ul>
                <h2>Вы задолжали</h2>
                <ul class="arrowed">
                    <li ng-show="user.emptyYouOwe()">Никому</li>
                    <li ng-repeat="(userId, sum) in user.youOwe">
                        <a class="innerLi" href="#/history/{{userId}}">
                            <span class="big">{{ users.list[userId].title }}</span>
                            <span class="light">{{ sum }}{{ settings.currency }}</span>
                        </a>
                    </li>
                </ul>
                <h2 ng-hide="user.emptyEven()">В расчете</h2>
                <ul ng-hide="user.emptyEven()" class="arrowed">
                    <li ng-repeat="(userId, sum) in user.even">
                        <a class="innerLi" href="#/history/{{userId}}">
                            <span class="big">{{ users.list[userId].title }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>