<section>
    <header>
        <button class="left" ng-show="user.loggedIn" ng-click="user.logout()">Выйти</button>
        <h1>You owe</h1>
        <a class="right bold" href="#/add">Добавить</a>
    </header>
    <div class="scrollWrap">
        <div class="scroll">
            <div class="content">
                <h2>Вам должны</h2>
                <ul class="arrowed">
                    <li ng-repeat="user in user.oweYou">
                        <div class="innerLi">
                            <div class="big">{{ user.email }}</div>
                            <div class="light">{{ user.totalSum }}{{ settings.currency }}</div>
                        </div>
                    </li>
                    <li ng-hide="user.oweYou">Вам никто не должен</li>
                </ul>
                <h2>Вы задолжали</h2>
                <ul class="arrowed">
                    <li ng-repeat="user in user.youOwe">
                        <div class="innerLi">
                            <div class="big">{{ user.email }}</div>
                            <div class="light">{{ user.totalSum }}{{ settings.currency }}</div>
                        </div>
                    </li>
                    <li ng-hide="user.youOwe">Вы перед всеми чисты</li>
                </ul>
            </div>
        </div>
    </div>
</section>