<section>
    <header>
        <button class="left" ng-click="userModel.loginPage()">Войти</button>
        <h1>You owe</h1>
        <button class="right" ng-click="userModel.registerPage()">Регистрация</button>
    </header>
    <div class="scroll">
        <div class="content">
            <form name="resetPasswordForm" ng-submit="resetPassword()">
                <h2>Сбросить пароль</h2>
                <ul>
                    <li>
                        <input ng-model="user.email" required type="email" placeholder="E-mail" value="">
                    </li>
                    <li>
                        <input type="submit" value="Сбросить пароль"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>