<section>
    <header>
        <h1>You owe</h1>
        <button class="right bold" ng-click="user.login()">Войти</button>
    </header>
    <!--<div class="scrollMask"></div>-->
    <!--<div class="scrollWrap">-->
        <div class="scroll">
            <div class="content">
                <form name="registerForm" ng-submit="register()">
                    <h2>Регистрация</h2>
                    <ul class="rounded">
                        <input ng-model="user.email" required type="email" placeholder="E-mail" value="">
                        <input ng-model="user.password" required type="password" value="" placeholder="Пароль">
                        <input type="submit" value="Зарегистрироваться"/>
                    </ul>
                </form>
            </div>
        </div>
    <!--</div>-->
</section>