<!DOCTYPE html>
<html lang="ru" ng-app="YouOweApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <title>You owe me</title>
    <style type="text/css" media="screen">@import "static/css/apple.css";</style>
    <script src="static/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jqtouch.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/app.js"></script>
    <style type="text/css" media="screen">
        .simplebutton {
            text-align: center;
        }
    </style>
    <script type="text/javascript" charset="utf-8">
        var jqtouch = $.jQTouch({});
//        var jqtouch = $.jQTouch({
//            icon: 'mail.png',
//            preloadImages: [
//                'themes/jqt/img/chevron.png',
//                'themes/jqt/img/back_button.png',
//                'themes/jqt/img/back_button_clicked.png',
//                'themes/jqt/img/button_clicked.png',
//                'themes/jqt/img/grayButton.png',
//                'themes/jqt/img/whiteButton.png'
//            ]
//        });
        // Add an onload function
//        $(function(){
            // Dynamically set next page titles after clicking certain links
//            $('#home ul a, #mailbox ul a').click(function(){
//                $( $(this).attr('href') + ' h1' ).html($(this).html());
//            });
//        });
    </script>
</head>
<body>
<div id="jqt">
    <div id="home" ng-controller="AppController">
        <div class="toolbar">
            <a class="leftButton button" href="#" ng-show="user.loggedIn" ng-click="logout()">Выйти</a>
            <h1>You owe</h1>
            <a class="add slideup" href="#add">+</a>
        </div>
        <ul class="edgetoedge">
            <li class="sep" ng-show="user.users">users</li>
            <li class="arrow" ng-repeat="user in user.users"><a href="#">{{ user.email }}<small class="counter">{{ user.id }}</small></a></li>
            <li class="sep" ng-show="user.oweYou">Вам должны</li>
            <li class="arrow" ng-repeat="user in user.oweYou"><a href="#">{{ user.email }}<small class="counter">{{ user.totalSum }}{{ currency }}</small></a></li>
            <li class="sep" ng-show="user.youOwe">Вы задолжали</li>
            <li class="arrow" ng-repeat="user in user.youOwe"><a href="#">{{ user.email }}<small class="counter">{{ user.totalSum }}{{ currency }}</small></a></li>
        </ul>
    </div>
    <div id="register" ng-controller="RegisterController">
        <form>
            <div class="toolbar">
                <h1>You owe</h1>
                <a class="button" href="#" ng-click="login()">Войти</a>
            </div>
            <h2>Регистрация</h2>
            <ul class="rounded">
                <li><input ng-model="user.email" required type="email" placeholder="E-mail" value=""></li>
                <li><input ng-model="user.password" required type="password" value="" placeholder="Пароль"></li>
                <li><a href="#" ng-click="register()" class="simplebutton">Зарегистрироваться</a></li>
            </ul>
        </form>
    </div>
    <div id="add">
        <div class="toolbar">
            <a class="back button" href="#home">Главная</a>
            <h1>Я дал в долг</h1>
        </div>
    </div>
</div>
</body>
</html>